.tuner {
  position: relative;
  width: 100%;
  max-width: 485px;
  margin: 0 auto;
  padding: 4rem;
  border-radius: 24px;
  background: #202020;
  box-sizing: border-box;
}

body.light .tuner {
  background: #F1F1F1;
}

.tuner-buttons {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 0 2.5rem 0;
  padding: 1rem 0 0;
  list-style: none;
}

.tuner-buttons li {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  margin-bottom: 1rem;
}

.tuner-buttons li:nth-child(1) {
  order: 5;
  justify-content: flex-start;
}

.tuner-buttons li:nth-child(2) {
  order: 3;
  justify-content: flex-start;
}

.tuner-buttons li:nth-child(3) {
  order: 1;
  justify-content: flex-start;
}

.tuner-buttons li:nth-child(4) {
  order: 2;
}

.tuner-buttons li:nth-child(5) {
  order: 4;
}

.tuner-buttons li:nth-child(6) {
  order: 6;
}

.tuner-buttons li.guitar-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  pointer-events: none;
  opacity: 0;
  animation: fadeInBottom 1s forwards 0.5s;
}

.tuner-buttons li.guitar-svg object {
  max-width: 218px;
}

.tuner-buttons li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid rgba(228, 231, 235, 0.31);
  background: transparent;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.15s ease;
  color: white;
  -webkit-tap-highlight-color: transparent;
  opacity: 0;
  animation: fadeInBottom 1s forwards;
}

.tuner-buttons li.current-string a {
  background: rgba(54, 140, 255, 0.19);
  border-color: white;
  color: white;
}

.tuner-buttons li a:hover {
  border-color: white;
  color: white;
}

.tuner-heading {
  width: 100%;
  transform: translateX(6px);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 9px;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

@media screen and (max-width: 767px) {
  .tuner {
    padding: 1rem;
  }

  .tuner-buttons li.guitar-svg object {
    max-width: 100%;
  }
}

@media screen and (max-width: 575px) {
  .tuner-buttons li.guitar-svg object {
    max-width: 60%;
  }
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}