#main-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
}

#main-header .row {
  justify-content: center;
}

#main-header .logo {
  position: relative;
  width: 100%;
  max-width: 192px;
  animation: fadeInBottom 1s forwards;
}

#main-header .logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  font-family: 'Pacifico', sans-serif;
  font-size: 1.3rem;
  text-decoration: none;
  font-weight: bold;
}

#main-header .logo object {
  width: 100%;
  pointer-events: none;
}

@media screen and (max-width: 767px) {
  #main-header .logo {
    display: flex;
    justify-content: center;
  }

  #main-header .logo object {
    max-width: 85px;
  }
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}