.main-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.main-footer .row {
  justify-content: center;
}

.main-footer .skynet-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.main-footer .skynet-logo object {
  pointer-events: none;
  max-width: 30px;
}