@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&family=Pacifico&display=swap');

html {
  font-size: 16px;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #171917;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* ------------------------
*
* GRID SYSTEM
*
* ------------------------*/
.container {
  display: block;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 1199px) {
  .container {
    padding: 0 1rem;
  }
}