@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&family=Pacifico&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #363636;
  background: linear-gradient(270deg, #8186ca, #ca81c7, #fb7070, #67d262);
  background-size: 800% 800%;

  -webkit-animation: dynamicBacground 59s ease infinite;
  -moz-animation: dynamicBacground 59s ease infinite;
  animation: dynamicBacground 59s ease infinite;
}

body.light {
  background: white;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* ------------------------
*
* ANIMATION
*
* ------------------------*/
@-webkit-keyframes dynamicBacground {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes dynamicBacground {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes dynamicBacground {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

/* ------------------------
*
* GRADIENTS
*
* ------------------------*/

/* ------------------------
*
* GRID SYSTEM
*
* ------------------------*/
.container {
  display: block;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 1199px) {
  .container {
    padding: 0 1rem;
  }
}