/* ----------------------
*
* TUNING LOOP
*
* ----------------------*/

.react-toggle .react-toggle-track {
  width: 173px;
  height: 38px;
  background: white;
}

.react-toggle:hover .react-toggle-track {
  background: white !important;
}

.react-toggle .react-toggle-thumb {
  top: 0;
  left: 0;
  width: 38px;
  height: 38px;
  background: #657380;
  border-color: #657380;
  outline: none;
  box-shadow: none;
}

.react-toggle--checked .react-toggle-thumb {
  left: 137px;
  border-color: #E4E7EB;
}

.react-toggle:hover .react-toggle-thumb {
  background: white;
}